@charset 'UTF-8';
@import 'mixins';

* {
	user-select: none;
}

html,
body {
	height: 100%;
}

body {
	background: #2f2f2f;
	background: linear-gradient(to right, #2f2f2f 0%,#414141 51%,#2f2f2f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f2f2f', endColorstr='#2f2f2f',GradientType=1 );
	position: relative;
	font-family: 'Dosis', sans-serif;

	display: flex;
	align-items: center;
	justify-content: center;

	&::before {
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		left: 0;
		background: url('../noise.png') repeat 0 0;
		z-index: 0;
	}
}

.switch {
	position: relative;
	z-index: 2;
	width: 450px;
	height: 150px;
	border-radius: 300px;
	margin-top: 45px;

	input {
		display: none;
	}

	label[for="on"] {
		position: absolute;
		left: 0;
		top: 0;
		width: 50%;
		height: 150px;
		border-top-left-radius: 300px;
		border-bottom-left-radius: 300px;
		box-shadow: inset 0 0 89px #78ca68, 0 0 4px 2px rgba(#78ca68, .4);
		background: url('../noise.png') repeat 0 0 #55794e;

		&::before {
			content: '';
			position: absolute;
			top: 76px;
			left: 60px;
			height: 8px;
			width: 100px;
			background: url(../noise2.png) 0 0 #416b3b;
			border-radius: 100px;
			box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
			border-top-left-radius: 300px;
			border-bottom-left-radius: 300px;
			z-index: 1;
			box-shadow: inset -1px 8px 20px rgba(0,0,0,.5);
		}
	}

	label[for="off"] {
		position: absolute;
		right: 0;
		top: 0;
		width: 50%;
		height: 150px;
		border-top-right-radius: 300px;
		border-bottom-right-radius: 300px;
		box-shadow: inset 0 0 89px #251818, 0 0 4px 2px rgba(60,40,39,.4);
		background: url('../noise.png') repeat 0 0 #3c2827;

		&::before {
			content: '';
			position: absolute;
			top: 76px;
			left: 60px;
			height: 8px;
			width: 100px;
			background: url(../noise2.png) 0 0 #251818;
			border-radius: 100px;
			box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
			border-top-right-radius: 300px;
			border-bottom-right-radius: 300px;
			z-index: 1;
			box-shadow: inset -1px 8px 20px rgba(0,0,0,.5);
		}
	}
}

.bar {
	position: absolute;
	right: 0;
	top: -3px;
    height: 156px;
	width: 350px;
	border-radius: 300px;
	background: #323232;
	background: linear-gradient(to bottom, #323232 0%,#121212 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323232', endColorstr='#121212',GradientType=0 );
	box-shadow: inset 0 -5px 70px 0 rgba(0,0,0,.8), 0 0 0 2px rgba(128,128,128,.2), -3px 6px 15px 0px rgba(0,0,0,.4);
	overflow: hidden;
	cursor: grab;
	z-index: 2;

	&:active {
		cursor: grabbing;
	}

	&::before {
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		left: 0;
		background: url('../noise2.png') repeat 0 0;
		border-radius: 300px;
	}	

	.on {
		position: absolute;
		top: 50%;
		right: 55px;
		height: 30px;
		width: 5px;
		background: url('../noise2.png') repeat 0 0 #3a3939;
		transform: translateY(-50%);
		box-shadow: inset 0px 0px 5px rgba(0,0,0,0.3);
		border-radius: 10px;
	}

	.off {
		position: absolute;
		top: 50%;
		left: 55px;
		height: 30px;
		width: 30px;
		border-radius: 50%;
		background: url('../noise2.png') repeat 0 0 #3a3939;
		transform: translateY(-50%);
		border-top: 3px solid #212121;
		border-bottom: 2px solid #403f3f;
		box-shadow: inset 0 0 27px rgba(0,0,0,.4), 
					inset 0px -11px 4px -10px rgba(255,255,255,.2), 
					inset 0px 13px 4px -10px rgba(0,0,0,.2);
	}
}

.shadow0 {
	top: 3px;
    left: 0;
    right: 0;
    height: 6px;
    background: url(../noise2.png) 0 0 #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-filter: blur(20px);
    filter: blur(5px);
    opacity: .19;
    z-index: 1;
}

.shadow1 {
	position: absolute;
    top: 18px;
    left: 60px;
    right: 60px;
    height: 7px;
    background: url('../noise2.png') repeat 0 0 #000;
	border-radius: 50px;
	filter: blur(14px);
	opacity: 0.7;
}

.shadow2 {
	position: absolute;
    top: 38px;
    left: 50px;
    right: 50px;
    height: 10px;
    background: url('../noise2.png') repeat 0 0 #fff;
	border-radius: 50%;
	filter: blur(20px);
	opacity: 0.2;
}

.shadow3 {
	position: absolute;
    bottom: 18px;
    left: 30px;
    right: 30px;
    height: 10px;
    background: url('../noise2.png') repeat 0 0 #000;
	border-radius: 50px;
	filter: blur(14px);
	opacity: 1;
}

.text-on {
	position: absolute;
	right: 40px;
	top: -100px;
	font-size: 30px;
	color: #989696;
	z-index: 1;
}

.text-on-bar {
	position: absolute;
	top: -55px;
    right: 53px;
	transform: translateX(-50%);
	height: 40px;
	width: 4px;
	border-radius: 10px;
	background: url('../noise2.png') repeat 0 0 #303030;
	box-shadow: inset 0 0 3px rgba(0,0,0,.3);
	z-index: 1;
}

.text-off {
	position: absolute;
	left: 40px;
	top: -100px;
	font-size: 30px;
	color: #989696;
	z-index: 1;
}

.text-off-bar {
	position: absolute;
	top: -55px;
    left: 63px;
	transform: translateX(-50%);
	height: 40px;
	width: 4px;
	border-radius: 10px;
	background: url('../noise2.png') repeat 0 0 #303030;
	box-shadow: inset 0 0 3px rgba(0,0,0,.3);
	z-index: 1;
}

.text-glow-on {
	position: absolute;
	right: 40px;
	top: -100px;
	font-size: 30px;
	z-index: 2;
	color: #83f76d;
	text-shadow: 0 0 5px #6fd45c;	
	opacity: 1;
}

.text-glow-on-bar {
	position: absolute;
	top: -55px;
    right: 53px;
	transform: translateX(-50%);
	height: 40px;
	width: 4px;
	border-radius: 10px;
	background: url('../noise2.png') repeat 0 0 #83f76d;
	box-shadow: inset 0 0 3px rgba(0,0,0,.3);
	z-index: 2;
	box-shadow: 0 0 5px #6fd45c;
	opacity: 1;
}

.text-glow-off {
	position: absolute;
	left: 40px;
	top: -100px;
	font-size: 30px;
	z-index: 2;
	color: #83f76d;
	text-shadow: 0 0 5px #6fd45c;
	opacity: 0;
}

.text-glow-off-bar {
	position: absolute;
	top: -55px;
    left: 63px;
	transform: translateX(-50%);
	height: 40px;
	width: 4px;
	border-radius: 10px;
	background: url('../noise2.png') repeat 0 0 #83f76d;
	box-shadow: inset 0 0 3px rgba(0,0,0,.3);
	z-index: 2;
	box-shadow: 0 0 5px #6fd45c;
	opacity: 0;
}